{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}


{% block content %}
<div class="large-12 columns branding">
  {% if site_logo %}
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
          <img id="siteBanner" src="{{ site_logo }}" alt="{{ 'Home'|t }}" /></a>   
  {% endif %}
  {% if site_name %}
    <div class="sitename_wrapper">
      <a id="site_name" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <span>Faith is By Choice</span></a>
        <span class="slogan">{{ site_slogan }}</span>
    </div>
  {% endif %}
   </div> 
{% endblock %}
